.technical__task .step {
  background: #D5E8D4 !important;
  color: #4c4e4f;
  font-size: 14px;
  text-align: center;
  padding: 3px 0px;
  border-radius: 6px;
  border: 2px solid #d4dad4;
  width: 50%;
}
.technical__task .form__label {
  background: #FFE6CC !important;
  color: #4c4e4f;
  font-size: 14px;
  text-align: center;
  padding: 3px 0px;
  border-radius: 6px;
  border: 2px solid #f6d8ba;
}

.technical__task .form__all__check {
  background: #FFE6CC !important;
  color: #4c4e4f;
}

.technical__task .form__output {
  background: #E1D5E7;
  color: #4c4e4f;
  border: 2px solid #c7bacd;
  border-radius: 4px;
  padding: 0px 12px;
}


.technical__task .form-control-sm {
  background: #e3e8ee !important;
  color: #4c4e4f;
}

.technical__task .form-control:focus,
.technical__task .form-select-sm:focus {
  border-color: #e3e8ee !important;
  box-shadow: none !important;
}

.technical__task .btn__contact {
  background: #0057D8;
  border-radius: 8px;
  padding: 6px 30px;
  color: white !important;
}

.technical__task .btn__contact:hover {
  background: #0057D8;
  color: white !important;
}

.technical__task .btn:focus {
  outline: none;
  box-shadow: none;
}

.technical__task .form-check-input:focus {
  box-shadow: none;
}